.grid {
  display: flex;
  flex-wrap: wrap;
  width: 714px;
  height: 412px;
  border: 10px solid rgb(104, 6, 216);
}


.card {
  border: 1px solid black;
}

.score {
  white-space: pre;
  visibility: hidden;
}

body {
background-color: lightcoral
;
}